*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: ROBOTO;
}
.header,
.hero,
ul{
    display:flex;
    justify-content: space-between;
}
.information-pictures > div,
.information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header,
.hero,
.information-section{
    padding: 20px 200px;
}
.header,
.hero{
    background-color: #1f2937;
    padding-bottom: 50px;
}
.hero-left{
    flex-basis: 500px;
}
.header h3,
.hero button{
    font-size:24px;
    color: #f9faf8;
}
.hero h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero *{
    margin-bottom: 10px;
}
.hero button{
    background-color: #3882f6;
    padding: 10px 20px;
    font-size:12px;
    border: none;
    border-radius: 5px;
}
ul{
    list-style: none;
    flex-basis: 300px;
    gap: 40px;
}
ul li a,
.hero p{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
.placeholder img{
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    margin-left: 100px;
}
.square{
    border: solid 2px #3882f6;
    border-radius: 10px;
    width: 130px;
    height: 130px;
}
.information-section{
    gap: 20px;
}
h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.information-pictures{
    display:flex;
    justify-content: center;
    gap: 70px;
}
.information-pictures > div{
    width: 130px;
}
.information-pictures p{
    text-align: center;
}